@media (min-width: 320px) and (max-width: 639px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        width: 320px;
        height: 9490px;
        margin: 0 auto;
        background: #ffffff;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #ffffff;
        overflow-x: hidden;
    }
    
    /* Header */
    header {
        display: flex;
        flex-direction: row;
        height: 110px;
        width: 320px;
        top: 0;
        background-color: #f58021;
        position: fixed;
        z-index: 31;
    }
    
    header > h1 {
        color: #f58021;
        font-size: 0;
    }
    
    .logo {
        margin-top: 30px;
        margin-left: 20px;
    }
    
    .nav-header__menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        text-transform: uppercase;
        margin-top: 43px;
        visibility: hidden;
    }
    
    .nav-header__item__about {
        margin-left: 163px;
        text-decoration: none;
    }
    
    .nav-header__item__map,
    .nav-header__item__zoos,
    .nav-header__item__contact-us,
    .nav-header__item__design {
        margin-left: 31px;
    }
    
    .item__map,
    .item__zoos,
    .item__contact-us,
    .item__design {
        text-decoration: none;
        color: #000000;
    }
    
    .item__map:hover,
    .item__zoos:hover,
    .item__contact-us:hover,
    .item__design:hover {
        color: #ffffff;
    }
    
    .item__about {
        color: #00a092;
        text-decoration: none;
    }
    
    .item__about:hover {
        cursor: default;
    }
    
    .socials {
        margin-top: 37px;
        margin-left: 80px;
        letter-spacing: 27px;
        display: none;
    }
    
    .header-youtube:hover,
    .header-instagram:hover,
    .header-facebook:hover {
        border-bottom: 1px solid white;
    }

    /* aside */

    header > aside {
        display: block;
    }

    .wrapper {
        width: 100%;
        height: 100vh;
        background: #20113D;
        background-size: cover;
        position: relative;
    }

    .wrapper__checkbox {
        display: none;
    }

    .wrapper__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 40px;
        height: 50px;
        background: #f58021;
        position: absolute;
        top: 29px;
        right: 435px;
        cursor: pointer;
        z-index: 2;
    }

    .btn__color_active {
        background: #20113D;
    }

    .wrapper__btn-line {
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 5px;
        background: #000000;
        margin: 5px 0;
        position: relative;
        transition: all .1s ease-in-out;
    }

    .btn__line_active {
        background: #ffffff;
    }

    .wrapper__menu {
        position: fixed;
        top: 0;
        right: 0;
        left: 25%;
        width: 233px;
        height: 600px;
        background: #20113D;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 40px 40px;
        transition: right 0.4s;
        transform-origin: left center;
        transform: scaleY(0) translateX(-20%);
        opacity: 0;
        z-index: 1;
    }

    .menu__nav_active {
        transform: scaleX(1) translateX(0%);
        opacity: 1;
    }

    .wrapper__menu-link {
        text-decoration: none;
        color: #ffffff;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        text-transform: uppercase;
        margin: 50px 0;
    }

    .wrapper__menu-link:hover {
        color: #00a092;
    }

    /* /aside */
    
    /* /header */

    main {
        height: 8781px;
    }
    /* Watch-your-favorite-animal-online */
    
    .watch-your-favorite-animal-online {
        display: flex;
        flex-direction: column;
        height: 796px;
        background-image: url(../../../online-zoo/assets/images/adaptive/320/Background.png);
        background-position-y: 395px;
        background-repeat: no-repeat;
        margin-top: 110px;
    }
    
    .animal-online__content__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 49px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #00a092;
        width: 300px;
        height: 186px;
        margin-top: 20px;
        margin-left: 10px;
    }
    
    .animal-online__content__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #000000;
        width: 299px;
        height: 106px;
        margin-top: 20px;
        margin-left: 10px;
    }
    
    .animal-online__content__button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: #f58021;
        border-radius: 5px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #ffffff;
        border: none;
        margin-left: 10px;
        margin-top: 30px;
        width: 300px;
        height: 45px;
    }
    
    .animal-online__content__button > a {
        text-decoration: none;
        color: #ffffff;
    }
    
    .button-arrow {
        margin-left: 8px;
    }
    
    .animal-online__content__button:hover {
        cursor: pointer;
        background: orange;
    }
    /* /Watch-your-favorite-animal-online */
    
    /* Welcome-to-the-zoo */
    
    .welcome-to-the-zoo__content {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .welcome-to-the-zoo__content__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 32px;
        text-transform: uppercase;
        color: #00a092;
        width: 300px;
        height: 57px;
        margin-top: 30px;
        margin-left: 10px;
    }
    
    .welcome-to-the-zoo__content__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #000000;
        width: 300px;
        height: 212px;
        margin-top: 30px;
        margin-left: 10px;
        text-overflow: clip;
        overflow: hidden;
    }

    .welcome-to-the-zoo__content__text > span {
        display: none;
    }
    
    .welcome-to-the-zoo__image {
        margin-top: -60px;
        margin-left: 0px;
        width: 320px;
        height: 218px;
        background: url(../../../online-zoo/assets/images/adaptive/320/Group\ 11.png);
        background-repeat: no-repeat;
    }
    /* /Welcome-to-the-zoo */
    
    /* How-it-works */
    
    .how-it-works__content {
        display: flex;
        flex-direction: column;
    }
    
    .how-it-works__image {
        margin-top: 50px;
        margin-left: 0px;
        width: 320px;
        height: 213px;
        background: url(../../../online-zoo/assets/images/adaptive/320/Group\ 12.png);
        background-repeat: no-repeat;
    }
    
    .how-it-works__content__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 32px;
        text-transform: uppercase;
        color: #00a092;
        width: 300px;
        height: 26px;
        margin-top: 30px;
        margin-left: 10px;
    }

    .how-it-works__content__text > span {
        display: none;
    }
    
    .how-it-works__content__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #000000;
        width: 300px;
        height: 269px;
        margin-top: 30px;
        margin-left: 10px;
        text-overflow: clip;
        overflow: hidden;
    }
    
    /* /How-it-works */
    
    /* donate */
    
    .donate {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        height: 446px;
        background-color: #20113D;
    }

    .donate__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .donate__content__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 32px;
        text-transform: uppercase;
        color: #ffffff;
        width: 300px;
        height: 92px;
        margin-top: 30px;
        margin-left: 0px;
        text-align: center;
    }
    
    .donate__content__text {
        width: 300px;
        height: 135px;
        margin-top: 30px;
        margin-left: 0px;
        text-align: center;
    }

    .quick__donate {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .quick__donate__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 130%;
        color: #FFFFFF;
        margin-top: 30px;
        margin-left: 0px;
    }
    
    .donation__amount {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: #ffffff;
        margin-top: 10px;
        margin-left: 0px;
        background: #20113D;
        padding: 13px 53px 10px 33px;
        border-radius: 5px 5px 5px 5px;
        border: 1px solid #ffffff;
    }
    
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        position: relative;
        right: 22px;
        margin: 0;
    }
    
    input::-webkit-input-placeholder {
        position: relative;
        right: 9px;
        color: #ffffff;
    }
    
    input:focus::-webkit-input-placeholder {
        color: transparent;
    }
    
    form {
        position: relative;
        margin: 0 auto;
    }
    
    .quick__donate__btn {
        position: absolute; 
        top: 11px;
        right: 1px;
        padding: 12px 16px 6px 15px;
        border: none;
        background: #F58021;
        border-radius: 5px 5px 5px 5px;
        cursor: pointer;
    }
    
    .quick__donate__btn:hover {
        background: orange;
    }
    /* /donate */
    
    /* our-pets */
    
    .our-pets {
        display: flex;
        flex-direction: column;
        height: 987px;
    }
    
    .our-pets__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 32px;
        text-align: center;
        text-transform: uppercase;
        color: #00A092;
        width: 320px;
        height: 32px;
        margin-top: 50px;
        margin-left: 0px;
    }
    
    .our-pets__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #000000;
        width: 300px;
        height: 182px;
        margin-top: 30px;
        margin-left: 10px;
    }
    
    .left-arrow {
        padding: 16px;
        margin-top: 100px;
        margin-left: 513px;
        border-radius: 5px;
        border: 1px solid #20113D;
        box-sizing: border-box;
        display: none;
    }
    
    .right-arrow {
        padding: 16px;
        margin-left: 50px;
        border-radius: 5px;
        border: 1px solid #20113D;
        box-sizing: border-box;
        display: none;
    }
    
    .right-arrow:hover,
    .left-arrow:hover {
        cursor: pointer;
        background: rgb(223, 219, 219);
    }

    .our-pets__choise_animal {
        display: flex;
        overflow: hidden;
    }

    .our-pets__animal_list_line_one > li > div,
    .our-pets__animal_list_line_two > li > div {
        width: 300px;
        height: 600px;
        background-color: #20113D;
    }

    .our-pets__animal_list_line_one {
        display: flex;
        list-style-type: none;
    }

    .panda_item {
        margin-top: 30px;
        margin-left: 40px;
    }

    .panda_item,
    .lemour_item,
    .gorilla_item,
    .eagles_item {
        display: none;
        text-decoration: none;
    }

    

    .card-image__panda {
        width: 300px;
        height: 600px;
        background: url(../../../online-zoo/assets/images/adaptive/1200/Rectangle\ 39.png);
        background-repeat: no-repeat;
    }

    .card__panda_page {
        text-decoration: none;
    }

    .card-image__lemur {
        width: 300px;
        height: 600px;
        background: url(../../../online-zoo/assets/images/adaptive/1200/image\ 118.png);
        background-repeat: no-repeat;
    }

    .card-image__gorilla {
        width: 300px;
        height: 600px;
        background: url(../../../online-zoo/assets/images/Rectangle\ 1.png);
        background-repeat: no-repeat;
    }

    .card-image__eagles {
        width: 300px;
        height: 600px;
        background: url(../../../online-zoo/assets/images/adaptive/1200/image\ 117.png);
        background-repeat: no-repeat;
    }

    .card-image__koala {
        width: 300px;
        height: 600px;
        background: url(../../../online-zoo/assets/images/adaptive/320/image\ 122.png);
        background-repeat: no-repeat;
    }

    .card-image__lion {
        width: 300px;
        height: 600px;
        background: url(../../../online-zoo/assets/images/adaptive/640/image\ 121.png);
        background-repeat: no-repeat;
    }

    .item__title {
        background: #20113D;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 130%;
        text-align: center;
        color: #ffffff;
        text-decoration: none;
        position: relative;
        bottom: 100%;
        border-radius: 5px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.01em;
    }

    .liz__text {
        width: 241px;
        height: 103px;
    }

    .shake__text {
        height: 103px;
    }

    .lucas {
        width: 134.29px;
        height: 60.78px;
    }

    .andy {
        width: 118px;
        height: 60px;
    }

    .glen {
        width: 107px;
        height: 60px;
    }

    .sam {
        width: 206px;
        height: 61px;
    }

    .liz {
        width: 90px;
        height: 60px;
    }

    .shake {
        width: 132px;
        height: 60px;
    }

    .item__text__title {
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 130%;
        text-align: center;
        color: #FFFFFF;
        position: relative;
        bottom: 311px;
        letter-spacing: 0.01em;
    }

    .item__text {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
        position: relative;
        display: flex;
        letter-spacing: 0.001em;
        bottom: 284px;
        margin-left: 28px;
        
    }

    .lemour_item,
    .gorilla_item {
        margin-top: 30px;
        margin-left: 20px;
    }

    .our-pets__animal_list_line_two {
        display: flex;
        list-style-type: none;
    }

    .eagles_item {
        margin-top: 20px;
        margin-left: 40px;
    }

    .koala_item,
    .lion_item {
        margin-top: 30px;
        margin-left: 10px;
    }

    .our-pets__animal_list_line_one > li > div > a  {
        margin-top: 23px;
        letter-spacing: 0.09em;
    }

    .our-pets__animal_list_line_one > li:nth-child(2) > div > a  {
        margin-top: 50px;
        letter-spacing: 0.09em;
    }

    .our-pets__animal_list_line_two > li > div > a  {
        margin-top: 13px;
        letter-spacing: 0.08em;
    }

    .our-pets__animal_list_line_one > li > div:hover,
    .our-pets__animal_list_line_two > li > div:hover {
        cursor: pointer;
        background: #7c5bbe;
        transform: scale(1.05);
        transition: all 1s 0.1s;
    }

    .choose-favorite_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 345px;
        height: 74px;
        border: 1px solid #20113D;
        box-sizing: border-box;
        border-radius: 5px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #20113D;
        margin-top: 50px;
        margin-left: 148px;
        display: none;
    }

    .choose-favorite_btn:hover {
        cursor: pointer;
        background: rgb(223, 219, 219);
    }

    .choose-map {
        text-decoration: none;
        color: #20113D;
    }

    .choose-btn {
        margin-left: 10px;
    }
    /* /our-pets */
    
    /* pay-and-feed */
    
    .pay-and-feed {
        display: flex;
        flex-direction: column;
        height: 2637px;
        background: #20113D;
    }
    
    .pay-and-feed__title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 32px;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 300px;
        height: 26px;
        margin-top: 20px;
        margin-left: 60px;
    }
    
    h4 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 130%;
        color: #FFFFFF;
        margin-top: 52px;
        margin-left: 12px;
    }
    
    hr {
        position: relative;
        left: 45px;
        bottom: 0px;
        width: 273px;
        border: 1px solid #FFFFFF;
        top: -18px;
    }
    
    .donation-impact {
        display: flex;
        flex-direction: column;
    }
    
    .donation-impact__picture {
        width: 320px;
        height: 208px;
        margin-top: 30px;
        margin-left: 0px;
    }
    
    .donation-impact__content_icon {
        margin-top: 30px;
        margin-left: 107px;
    }
    
    .donation-impact__content_title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 130%;
        color: #FFFFFF;
        width: 300px;
        height: 65px;
        margin-top: 22px;
        margin-left: 10px;
        white-space: normal;
        text-align: center;
    }
    
    .donation-impact__content_text {
        text-align: center;
        width: 280px;
        height: 375px;
        margin-top: 30px;
        margin-left: 20px;
        overflow: hidden;
    }

    .donation-impact__content_text > span {
        display: none;
    }
    
    h4:nth-child(5) {
        margin-top: 50px;
    }

    .make-a-donation {
        display: flex;
        flex-direction: column;
    }
    
    .make-a-donation__picture {
        width: 320px;
        height: 208px;
        margin-top: 28px;
        margin-left: 0px;
    }
    
    .make-a-donation__content_icon {
        margin-top: 30px;
        margin-left: 110px;
    }
    
    .make-a-donation__content_title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 130%;
        color: #FFFFFF;
        width: 300px;
        height: 34px;
        margin-top: 22px;
        margin-left: 50px;   
    }
    
    .make-a-donation__content_text {
        text-align: center;
        width: 300px;
        height: 186px;
        margin-top: 30px;
        margin-left: 10px;
    }

    .make-a-donation__content_text > span {
        display: none;
    }
    
    h4:nth-child(8) {
        margin-top: 50px;
    }
    
    .favorites-pets {
        display: flex;
        flex-direction: column;
    }
    
    .favorites-pets__picture {
        width: 320px;
        height: 208px;
        margin-top: 28px;
        margin-left: 0px;
    }
    
    .favorites-pets__content_icon {
        margin-top: 30px;
        margin-left: 120px;
    }
    
    .favorites-pets__content_title {
        font-family: 'Montserrat';
        font-style: normal;
        text-align: center;
        font-weight: 500;
        font-size: 26px;
        line-height: 130%;
        color: #FFFFFF;
        width: 300px;
        height: 100px;
        margin-top: 25px;
        margin-left: 10px;
        text-align: center;
    }
    
    .favorites-pets__content_text {
        text-align: center;
        width: 300px;
        height: 209px;
        margin-top: 30px;
        margin-left: 10px;
    }
    
    .donate-now_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #F58021;
        border-radius: 5px;
        width: 300px;
        height: 45px;
        border: none;
        margin-top: 50px;
        margin-left: 10px;
    }
    
    .donate-now_arrow {
        margin-left: 10px;
    }
    
    .donate-now_btn:hover {
        cursor: pointer;
        background: orange;
    }
    
    /* /pay-and-feed */
    
    /* users-think */
    
    .users-think {
        display: flex;
        flex-direction: column;
        height: 1461px;
        background: #20113D;
        background-image: url(../../../online-zoo/assets/images/adaptive/320/image\ 97.png);
        background-repeat: no-repeat;
        background-position-y: 767px;
    }
    
    .users-think__content__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 32px;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 300px;
        height: 57px;
        margin-top: 40px;
        margin-left: 10px;
        text-align: center;
    }
    
    .users-think__content__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #FFFFFF;
        width: 300px;
        height: 156px;
        margin-top: 30px;
        margin-left: 10px;
        text-align: center;
    }
    
    .cards-slider {
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    .cards-slider__line_one,
    .cards-slider__line_two {
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }

    .cards-slider__item {
        width: 300px;
        height: 549px;
        background: #ffffff;
    }

    .card-slider__image {
        width: 92px;
        height: 96px;
        background-image: url(../../../online-zoo/assets/icons/“.svg);
        background-repeat: no-repeat;
        margin-top: 45px;
        margin-left: 35px;
    }

    .card-slider__title {
        width: 217px;
        height: 68px;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 130%;
        color: #000000;
        text-align: center;
        margin-left: 42px;
        position: relative;
        bottom: 23px;
    }

    .card-slider__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #000000;
        margin-top: 0px;
        margin-left: 20px;
        position: relative;
        bottom: 2px;
        width: 260px;
        height: 216px;
        letter-spacing: 0.000111em;
        text-align: center;
    }

    .card-slider__signature {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #000000;
        margin-top: 53px;
        margin-left: 66px;
        white-space: nowrap;
    }

    .amsterdam__text {
        height: 162px;
    }

    .signature__amster {
        margin-top: 15px;
    }

    .new-jersey {
        margin-top: 46px;
        margin-left: 10px;
    }

    .toronto {
        margin-top: 46px;
        margin-left: 10px;
        
    }

    .london {
        margin-top: 46px;
        margin-left: 10px;
    }

    .amsterdam {
        margin-top: 46px;
        margin-left: 10px;
    }

    .cards-slider__btn {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top: 100px;
        overflow: hidden;
    }

    .cards-slider__left_arrow {
        width: 60px;
        height: 60px;
        background: rgba(0, 120, 201, 0.01);
        margin-left: 0px;
        border: 2px solid #ffffff;
        border-radius: 5px;
        margin-top: 0px;
    }

    .cards-slider__right_arrow {
        width: 60px;
        height: 60px;
        background: rgba(0, 120, 201, 0.01);
        margin-left: 55px;
        border: 2px solid #ffffff;
        border-radius: 5px;
        margin-right: 41px;
    }

    .cards-slider__left_arrow:hover,
    .cards-slider__right_arrow:hover {
        cursor: pointer;
        background: grey;
    }

    .leave-feedback__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 299px;
        height: 45px;
        background: rgba(0, 120, 201, 0.01);
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 5px;
        margin-top: 684px;
        margin-left: -1445px;
    }

    .leave-feedback__arrow {
        margin-left: 10px;
    }

    .leave-feedback__btn:hover {
        cursor: pointer;
        background: gray;
    }
    /* /users-think */
    
    /* animals-love */
    
    .animals-love {
        display: flex;
        flex-direction: column;
        height: 1298px;
        background: #ffffff;
        position: relative;
        bottom: 0;
    }
    
    .animals-love__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 50px;
        margin-left: 0px;
    }
    
    .animals-love__content__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 32px;
        text-align: center;
        text-transform: uppercase;
        color: #00A092;
        width: 300px;
        height: 58px;
    }
    
    .animals-love__content__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #20113D;
        width: 274px;
        height: 78px;
        margin-top: 32px;
        margin-left: 0px;
        text-align: center;
        letter-spacing: 0.001em;
    }
    
    .animals-love__item {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 570px;
        background: #20113D;
        border-radius: 5px;
    }

    #feed_panda {
        display: flex;
        flex-direction: column;
    }

    .panda {
        display: flex;
        flex-direction: row;
        margin-left: 10px;
        margin-top: -20px;
    }

    .lemur {
        position: relative;
        bottom: 680px;
        right: 145px;
        display: none;
    }

    .eagles {
        height: 639px;
        position: relative;
        right: 600px;
        bottom: 20px;
        margin-left: 0px;
        display: none;
    }

    .tiger {
        height: 639px;
        position: relative;
        right: 125px;
        bottom: 20px;
        display: none;
    }

    .animals-love__item:hover,
    .animals-love__item:hover {
        cursor: pointer;
        background: #7c5bbe;
        transform: scale(1.05);
        transition: all 1s 0.1s;
    }

    .animals-love__str_one {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
    }

    .animals_koala {
        width: 930px;
        height: 470px;
        background: url(../../../online-zoo/assets/images/adaptive/1200/koala.png);
        margin-left: 135px;
        display: none;
    }

    .card-image__feed {
        width: 455px;
        height: 373px;
    }

    .panda__feed {
        background: url(../../../online-zoo/assets/images/adaptive/320/image\ 144.png);
        background-repeat: no-repeat;
    }

    .tiger__feed {
        background: url(../../../online-zoo/assets/images/adaptive/1200/image\ 156.png);
    }

    .lemur__feed {
        background: url(../../../online-zoo/assets/images/adaptive/1200/image\ 155.png);
    }

    .eagles__feed {
        background: url(../../../online-zoo/assets/images/adaptive/1200/image\ 1.png);
    }

    .text__feed {
        width: 245px;
        height: 103px;
        margin-left: 0;
        margin-top: 0;
        position: relative;
        bottom: 4px;
        left: 27px;
    }

    .feed {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #f58021;
        margin-top: 0px;
        position: relative;
        top: -267px;
        right: 0px;
    }

    .feed__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #f58021;
        margin-top: 0px;
        position: relative;
        top: 25px;
        right: 76px;
    }

    .feed__tiger_btn {
        margin-top: 63px;
    }

    .orange-arrow {
        margin-left: 10px;
    }

    .animals-love__str_two {
        display: flex;
        align-content: flex-start;
        margin-left: 260px;
        margin-top: 38px;
    }

    .animals-love > .choose-favorite_btn {
        margin-top: 75px;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 45px;
        border: 1px solid #20113D;
        box-sizing: border-box;
        border-radius: 5px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-transform: none;
        color: #20113D;
        margin-top: 50px;
        margin-left: 10px;
    }

    .touch-animal {
        width: 320px;
        height: 189px;
        margin-left: 0px;
        margin-top: 80px;
        background-image: url(../../../online-zoo/assets/images/adaptive/320/Touch\ the\ animal2\ 1.png);
    }
    
    /* /animals-love */

    /* /main */

    /* footer */
    
    footer {
        display: flex;
        flex-direction: column;
        height: 710px;
        background: #20113D;
    }
    
    .footer__line_one {
        display: flex;
        flex-direction: column;
    }
    
    .footer__line_one {
        margin-top: 0px;
        margin-left: 0px;
        position: relative;
        right: 10px;
    }

    .footer__logo_zoo {
        margin-top: 20px;

    }
    
    .footer__line_one > .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__logo_yem {
        margin-top: 24px;
        margin-left: 0px;
    }
    
    .footer__logo_rs {
        margin-top: 30px;
        margin-left: 0px;
    }
    
    .nav-footer__menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        margin-top: 30px;
        margin-left: 0px;
    }
    
    .nav-footer__menu > li:nth-child(1) {
        margin-left: 20px;
    }
    
    .nav-footer__menu > li {
        white-space: nowrap;
        margin-left: 16px;
    }

    .nav-footer__menu > li > a {
        text-decoration: none;
        color: #ffffff;
    }
    
    .nav-footer__menu > li > a:hover {
        color: gray;
    }
    
    .footer__donate_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        text-transform: none;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 5px;
        width: 299px;
        height: 45px;
        background: #20113D;
        margin-left: 20px;
        margin-top: 30px;
    }
    
    .footer__btn_arrow {
        margin-left: 10px;
    }
    
    .footer__donate_btn:hover {
        cursor: pointer;
        background: gray;
    }
    
    hr:nth-child(2) {
        margin-left: 0px;
        width: 320px;
        border: 1px solid #FFFFFF;
        position: relative;
        bottom: 0px;
        left: 0;
        top: 98px;
    }
    
    .footer__line_two {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .logo__name {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        margin-left: 0px;
        position: relative;
        bottom: 0px;
        top: 52px;
    }
    
    .logo__name > p {
        white-space: nowrap;
        margin-top: 30px;
        margin-left: 0px;
        text-align: center;
    }
    
    .footer-socials {
        display: flex;
        margin-left: 0px;
        margin-top: 0px;
        position: relative;
        bottom: 0px;
        top: 27px;
    }
    
    .footer-socials > a {
        margin-left: 50px;
    }
    
    .footer-socials > a:hover {
        cursor: pointer;
    }
    /* /footer */
}